@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200&family=Lato:ital@1&family=Manrope&family=Poppins&display=swap');
*{
padding:0;
margin:0;
font-family: 'Anek Devanagari', sans-serif;
}
.container{
width:100%;
height:700px;
display:flex;
justify-content:center;
align-items:center;
background:green;
}
.weather-container {
height:70%;
width:90%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:white;
border-radius:10px;
}
.weather-container img{
width:100px;
position:relative;
}
.input-field{
height:50%;
width:100%;
display:flex;
justify-content:center;
flex-direction:column;
align-items:center;


}
.other-deatils{
display:flex;
width:100%;
justify-content:space-between;
font-size:20px;
padding-top:20px;
font-weight:bold;


}
.full-deatils{
height:50%;
width:100%;
}
span{
text-align:center;
font-size:40px;
font-weight:bolder;
padding:20px;
}
.input-field input{
width:90%;
height:40px;
font-size:20px;
}
.input-field button{
width:90%;
margin-top:20px;
background:green;
border:1px solid green;
color:white;
font-size:20px;
}
.wind-deatils{
display:flex;
width:100%;
justify-content:space-between;
font-size:20px;
}